# Dependencies
node_modules/
.pnpm-store/

# Build outputs
.next/
dist/
build/
out/
*.tsbuildinfo
.turbo/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage/
playwright-report/
test-results/

# Prisma
packages/db/generated/

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Docker volumes (local dev data)
.docker-data/
